html {
    scroll-behavior: smooth;
}
body {
    background-color: #fdfffe;
    color: #323232;
}
header {
    height: 50px;
    background-color: #333;
}
header nav ul {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}
header nav ul li {
    padding: 1%;
}
header a { 
    text-decoration: none;
    color: #ddd;
    padding: 14px 16px;
}
header a:hover {
    background-color: #525151;
    color: #ddd;
}
section {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}
.intro-container h1 {
    margin-top: 2%;
    text-align: center;
    font-size: 5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}
.about-cointainer-image {
    display: inline;
    height: auto;
    max-width: 100%;
    padding-left: 100px;
    float: left;
}
.about-container-text {
    padding-left: 100px;
    float: left;
}
.about-container-text h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    letter-spacing: 10px;
    text-align: center;
}
.about-container-text p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-size: 20px;
}
.corevalues-container h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    letter-spacing: 10px;
    text-align: center;
}
.column {
    background-color: #8d8d8d;
    color: #ddd;
    float: left;
    width: 15%;
    height: 100%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    font-style: normal;
    margin: 30px;
}
.containerTab {
    padding: 20px;
    color: white;
}
.containerTab h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    letter-spacing: 2px;
}
.containerTab p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 16px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Closable button inside the image */
  .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
.whereilive-container h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    letter-spacing: 10px;
    text-align: center;
}
.whereilive-container h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    letter-spacing: 2px;
}
.whereilive-container p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 16px;
}
.interests-container h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    letter-spacing: 10px;
    text-align: center;
}
.interests-container h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    letter-spacing: 2px;
}
.interests-container p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 16px;
}
#contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-container h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    letter-spacing: 10px;
    text-align: center;
}
.contact-container p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 16px;
}
section div .form-container {
    justify-content: center;
    width: 90%;
}
section div form .name-input {
    background-color: #fff3de;
    border: 2px solid #323232;
    border-radius: 8px;
    font-size: 20px;
    height: 30px;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    width: 50%;
}
section div form .email-input {
    background-color: #fff3de;
    border: 2px solid #323232;
    border-radius: 8px;
    font-size: 20px;
    height: 30px;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    width: 50%;
}
section div form .message-input {
    background-color: #fff3de;
    border: 2px solid #323232;
    border-radius: 10px;
    font-size: 20px;
    height: 200px;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    resize: none;
    width: 50%;
}
section div form .submit-button {
    background-color: initial;
    border: 2px solid #323232;
    border-radius: 4px;
    color: #323232;
    cursor: pointer;
    font-size: 16px;
    height: 45px;
    width: 150px;
}
footer .social-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #323232;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .1em;
}
footer .copyright-text {
    color: #323232;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .1em;
    text-align: center;
}