html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
    background-color: #f1f1f1;
    color: #323232;
    margin: 0;
    padding: 0;
}
header {
    height: auto;
    background-color: #333;
    margin: 0 auto;
}
header nav ul {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    padding: 0%;
}
header nav ul li {
    padding: 1%;
}
header a { 
    text-decoration: none;
    color: #ddd;
    padding: 10px 16px;
}
header a:hover {
    background-color: #525151;
    color: #ddd;
}
.nav-icon {
    display: none;
    margin: 5px;
}
/* Header Media queries for responsiveness */
@media (max-width: 700px) {
    header {
        height: auto;
        padding: 10px 0;
    }

    header nav ul {
        flex-direction: row;
        align-items: flex-start;
    }

    header nav ul li {
        padding: 10px;
    }
    header a {
        padding: 5px;
        font-size: 12px;
    }
    .nav-text {
        display: none;
    }

    .nav-icon {
        display: inline;
    }
}
section {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width:700px) {
    section {
        padding: 20px;
    }
}
.intro-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}
.intro-container h1 {
    margin-top: 2%;
    text-align: center;
    font-size: 5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    flex-direction: row;
}
@media screen and (max-width:760px) {
    #about {
        flex-direction: column;
    }
}
.about-cointainer-image {
    display: inline;
    height: auto;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
@media screen and (max-width: 700px) {
    img {width: 200px}
}
.about-container-text {
    padding: 20px;
    text-align: justify;
}
.about-container-text h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    letter-spacing: 10px;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .about-container-text h1 {
        font-size: 3em;
        letter-spacing: 5px;
    }
}
.about-container-text p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1.5px;
    font-size: 14px;
}
.corevalues-container h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    letter-spacing: 10px;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .corevalues-container h1 {
        font-size: 3em;
        letter-spacing: 5px;
    }
}
@media screen and (min-width: 701px) {
    div.core-column {
      font-size: 1.5em;
    }
}
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 700px) {
    div.core-column {
      font-size: 1em;
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.core-column {
    background-color: #8d8d8d;
    color: #ddd;
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    font-style: normal;
    margin: 15px;
    display: block;
}
.core-containerTab {
    padding: 20px;
    color: white;
}
.core-containerTab h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    letter-spacing: 2px;
}
.core-containerTab p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 16px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  /* Closable button inside the image */
  .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
.whereilive {
    max-width: 1500px;
    margin: auto;
}
.whereilive h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    letter-spacing: 10px;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .whereilive h1 {
        font-size: 3em;
        letter-spacing: 5px;
    }
}
.whereilive p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 16px;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .whereilive p {
        font-size: 14px;
        letter-spacing: 1.5px;
    }
}
.whereilive-row {
    margin: 8px -16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Add padding BETWEEN each column */
.whereilive-row, .whereilive-row > .whereilive-column {
  padding: 8px;
}
/* Create four equal columns that floats next to each other */
.whereilive-column {
    float: left;
    width: 23.5%;
    display: table;
    max-width: 100%;
}
  /* Clear floats after rows */ 
.whereilive-row:after {
    content: "";
    display: table;
    clear: both;
}
/* Content */
.whereilive-content {
    background-color: white;
    padding: 10px;
    display: table-cell;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) {
    .whereilive-column {
      width: 50%;
    }
}
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .whereilive-column {
      width: 100%;
    }
}

.whereilive-content h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25em;
    letter-spacing: 1.5px;
}
.whereilive-content p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-size: 12px;
    text-align: justify;
}
#interests {
    padding: 20px;
}
.interests-carousel {
    max-width: 1200px;
    position: relative;
    margin: auto;
}
.interests-carousel h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    letter-spacing: 10px;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .interests-carousel h1 {
        font-size: 3em;
        letter-spacing: 5px;
    }
}
.interests-carousel p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 16px;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .interests-carousel p {
        font-size: 14px;
        letter-spacing: 1.5px;
    }
}
.interests-carousel h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .interests-carousel h2 {
        font-size: 1em;
        letter-spacing: 2px;
    }
}
.carousel {
    display: none;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
.carousel img {
    vertical-align: middle;
}
.carousel .texts p{
    text-align: justify;
    font-size: 14px;
    letter-spacing: normal;
}
.carousel .texts {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: #000000; /* Fallback color */
    background: #00000080; /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
}
@media screen and (max-width: 700px) {
    .carousel .texts p {
        font-size: 10px;
    }
}
@media screen and (max-width: 420px) {
    .carousel .texts p {
        display: none;
    }
}
.number {
    color: #f2f2f2;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width: 700px) {
    .number {
        font-size: 10px;
        padding: 4px 20px;
    }
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #717171;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
@media screen and (max-width: 700px) {
    .prev, .next {
        font-size: 20px;
        padding: 10px;
    }
}
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
} 
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #ffffff;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}  
  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
} 
  /* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}  
.contact-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-container h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    letter-spacing: 10px;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .contact-container h1 {
        font-size: 3em;
        letter-spacing: 5px;
    }
}
.contact-container p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 5px;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .contact-container p {
        font-size: 14px;
        letter-spacing: 1.5px;
    }
}
section div .form-container {
    width: 90%;
}
section div form .name-input {
    background-color: #fdfafa;
    border: 2px solid #323232;
    border-radius: 8px;
    font-size: 20px;
    height: 30px;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    width: 50%;
}
section div form .email-input {
    background-color: #fdfafa;
    border: 2px solid #323232;
    border-radius: 8px;
    font-size: 20px;
    height: 30px;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    width: 50%;
}
section div form .message-input {
    background-color: #fdfafa;
    border: 2px solid #323232;
    border-radius: 10px;
    font-size: 20px;
    height: 200px;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    resize: none;
    width: 50%;
}
section div form .submit-button {
    background-color: #fdfafa;
    border: 2px solid #323232;
    border-radius: 4px;
    color: #323232;
    cursor: pointer;
    font-size: 16px;
    height: 45px;
    width: 150px;
}
@media screen and (max-width: 700px) {
    section div form .submit-button, 
    section div form .message-input, 
    section div form .name-input, 
    section div form .email-input
    {
        font-size: 12px;
    }
}
footer .social-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #323232;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .1em;
    text-align: center;
    margin: 10px 0;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f1f1f1;
}
footer ul {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 10px 0;
}
footer ul li {
    margin: 0 10px;
}
footer ul li img {
    width: 24px;
    height: 24px;
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#111110;
    height: 1px;
    margin: 10px 0;
}
footer .copyright-text {
    color: #323232;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .1em;
    text-align: center;
}
/* Footer Media queries for responsiveness */
@media screen and (max-width: 700px) {
    footer ul li img {
        width: 24px;
    }
    footer .social-text,
    footer .copyright-text {
        font-size: 10px;
    }
}